<div class="rounded-full m-8 p-3 h-72 w-72 shadow-lg shadow-slate-700 bg-slate-900">
  <div class="grid place-content-center justify-items-center h-full" >
    <span class="text-7xl font-bold text-gray-400">{{ counter | formatTime }}  </span>


    <div class="inline-flex mt-4 gap-3">
      <span *ngIf="stateTimer === 'pause'" class="text-gray-300" (click)="startTimer()">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z" clip-rule="evenodd" />
        </svg>
      </span>

      <span *ngIf="stateTimer === 'start'" class="text-gray-300" (click)="pauseTimer()">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zM7 8a1 1 0 012 0v4a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v4a1 1 0 102 0V8a1 1 0 00-1-1z" clip-rule="evenodd" />
        </svg>
      </span>

      <span class="text-gray-300" (click)="resetTimer()">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8 7a1 1 0 00-1 1v4a1 1 0 001 1h4a1 1 0 001-1V8a1 1 0 00-1-1H8z" clip-rule="evenodd" />
        </svg>
      </span>
    </div>
  </div>
</div>
